{% extends '/admin/base.html.twig' %}
{% block title %}{{ 'training_task'|trans({}, 'admin') }}{% endblock %}

{% block body %}
    <h4 class="pl-3">{{ 'training_task.new'|trans }}</h4>
    <hr>
    <form id="form-training-task-create" class="form-horizontal" action="{{ path('_admin_training_task_create') }}" method="POST">
        {% form_theme form '/form/common-create.html.twig' %}
            {{ form_widget(form) }}
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button class="btn btn-success" type="submit">{{ 'add'|trans }}</button>
                    <a href="{{ path('_admin_panel') }}" class="btn btn-warning">{{ 'cancel'|trans }}</a>
                </div>
            </div>
        {{ form_end(form) }}
    </form>
{% endblock %}

